@charset "UTF-8";

.commonform {
  margin-left: 1rem;
}

.commonform section {
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0 0 0.5rem 0.5rem;
  position: relative;
}

.commonform .conspicuous > p {
  font-style: italic;
  font-weight: bold;
}

.commonform p {
  margin: 0;
}

.commonform section:before {
  content: '§';
  left: -1rem;
  position: absolute;
}

.commonform .component:before {
  content: '⚙';
}

.commonform .heading {
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  font-weight: bold;
  width: 100%;
}

.commonform dfn {
  font-weight: bold;
}

.commonform .use, .commonform .reference {
  color: inherit;
  font-style: italic;
}

.reference {
  color: black;
  font-style: italic;
}

.reference:before {
  content: '☞ ';
}

.toc .component > .reference:before {
  content: '⚙ ';
  font-style: normal;
}

.commonform .blank {
  background: inherit;
  border-bottom: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  display: inline-block;
  max-width: 10rem;
}

header.toc {
  margin-bottom: 3rem;
}

.toc ol {
  list-style-type: none;
}

.component .substitutions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.terms:before {
  content: 'Term Substitutions';
  font-weight: bold;
}

.headings:before {
  content: 'Heading Substitutions';
  font-weight: bold;
}

.component .identification {
  padding: 1rem 0;
}

.undefined, .brokenReferences {
  list-style-type: none;
  padding: 0;
}

.undefined:before {
  content: 'Undefined Terms: ';
}

.brokenReferences:before {
  content: 'Broken References: ';
}

.undefined li, .brokenReferences li {
  display: inline;
}
